@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Quantico&display=swap');


/* HEADER AND NAV */

header {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
    padding: 1%;
}

nav {
    background-color: #000;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    opacity: 0.0;
    transition: opacity .5s;
}

nav:hover {
    opacity: 1.0;
}

nav a {
    color: #5E548E;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Quantico, Helvetica, sans-serif;
    transition: all 0.5s ease-out;
    margin: 0px 50px;
    padding: 25px;
}

nav a:hover,
a:focus {
    color: #BE95C4;
}

#campaigns:hover {
    background: url("../images/MOoT-cover.jpg");
    background-size: cover;
    background-position: center;
}

#timeline:hover {
    background: url("../images/stars-banner.jpg");
    background-size: cover;
    background-position: center;
}

#encyclopedia:hover {
    background: url("../images/manual.jpg");
    background-size: cover;
    background-position: center;
}

.logo {
    width: 120px;
    height: 131px;
    justify-self: center;
    align-self: center;
}

#logo_link {
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #000;
    width: 120px;
    height: 131px;
    opacity: 0.5;
    border: 10px solid #000;
    border-radius: 50%;
    transition: all 0.5s ease-out;
}

#logo_link:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* MAIN CONTENT */

body {
    background-color: #000;
}

#content {
    position: relative;
    margin: 175px 0;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* padding-bottom: 10rem; */
}

h1 {
    color: #5E548E;
    font-family: "Cormorant Infant";
    font-size: 3em;
    text-align: center;
    text-decoration: none;
}

h2 {
    color: #5E548E;
    font-family: "Cormorant Infant";
    font-size: 2em;
    grid-column: 4/7;
    justify-self: center;
    text-decoration: none;
}

p {
    color: #5E548E;
    font-family: Quantico, Helvetica, sans-serif;
    grid-column: 4/7;
    text-decoration: none;
}

#suggested-box {
    grid-column: 4/7;
    justify-self: center;
    text-align: center;
}

#suggested-box img {
    max-width: 50%;
}


/* FOOTER AND SOCIAL */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.0;
    transition: opacity .5s;
}

footer:hover {
    opacity: 1.0;
}

footer a {
    color: #5E548E;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

/* CAMPAIGN PAGE */

.camp-tile {
    background-color: #111;
    text-align: center;
    grid-column: span 3;
    min-height: fit-content;
    padding: 3% 0%;
    margin: 2% 2%;
    text-decoration: none;
    transition: all 0.5s ease-out;
    opacity: 0.85;
}

.camp-tile h2 {
    font-size: 2vw;
}

.camp-tile p {
    font-size: 1vw;
}

.camp-tile img {
    object-fit: cover;
    object-position: center;
    width: 85%;
    height: 70%;
}

.camp-tile:hover {
    transform: scale(1.02);
    opacity: 1.0;
}

#c1 {
    /* heroes */
    order: 1;
}

#c2 {
    /* theros */
    order: 2;
}

#c2 img {
    /* edit to focus on image better */
    object-position: right;
}

#c3 {
    /* grid */
    order: 3;
}

#c4 {
    /* adventures */
    order: 4;
}

#c4 img {
    /* edit to focus on image better */
    object-position: top;
}

#c5 {
    /* resurgence */
    order: 5;
}

#c6 {
    order: 6;
}

/* TIMELINE */

#time-space {
    background-image: url(../images/stars.jpg);
    background-size: cover;
    background-position: center;
}

.time-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ENCYCLOPEDIA */

.dict-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dict-grid h1 {
    grid-column: 1/5;
}

/* MOBILE VERSION */

.icon-bar {
    opacity: 0;
    z-index: -1;
}

@media screen and (max-width: 1000px) {
    header {
        opacity: 0;
        z-index: -1;
    }

    .icon-bar {
        opacity: 1;
        z-index: 1;
        width: 100%;
        /* Full-width */
        background-color: #000;
        /* Black background */
        overflow: auto;
        /* Overflow due to float */
    }

    .icon-bar a {
        float: left;
        /* Float links side by side */
        text-align: center;
        /* Center-align text */
        width: 25%;
        /* Equal width (4 icons with 25% width each = 100%) */
        padding: 12px 0;
        /* Some top and bottom padding */
        transition: all 0.3s ease;
        /* Add transition for hover effects */
        color: #BE95C4;
        /* White text color */
        font-size: 2vw;
        /* Increased font size */
    }

    .icon-bar a:hover {
        background-color: #5E548E;
        /* Add a hover color */
        color: #000
            /* Add a hover text color */
    }

    .active {
        background-color: #231942;
        /* Add an active/current color */
    }

    /* Adjust displays for mobile */
    .home-grid,
    .time-grid,
    .dict-grid {
        padding: 0% 10%;
        display: grid;
        grid-template-columns: 1fr;
    }

    #content {
        margin: 0;
    }


    .camp-tile h2 {
        font-size: 5vw;
    }
    
    .camp-tile p {
        font-size: 2.5vw;
    }
}